<style>
 .sortbtn
 {
 	width:153px;
 }

 .generatepdf
 {
 	float: right;
 	margin-right: 142px;
 }
 .large-2 {
    width: 12.667%;
}
.large-3 {
    width: 31%;
}
ul {
    margin-left: 0px;
}
.row
{
    margin-top: 10px !important;
}
</style>
<script type="text/javascript">
	function generate_pdf()
	{
		 var allVals = [];
		$('input[name="select_loan"]:checked').each(function(){
			allVals.push($(this).val());
		});
		if (allVals.length === 0) {
    		alert("Please select atleast one loan.");
    		return false;
    	}
		var data = "&moredata=" + allVals;
		$.ajax({
                data: data,
                type: 'POST',
                url: '/loans/generate_pdf',
                success:function(response){
                //window.open('http://localhost:3000/loans/show_pdf/'+response);
                $("a#pdf_download").attr("href","http://idealview.us/pdfs/"+response);
                $("a#pdf_download").fadeIn();
            }
            });

	}

    function delete_loans()
    {
        var allVals=[];
        $('input[name="select_loan"]:checked').each(function(){
            allVals.push($(this).val());
        });
        if (allVals.length === 0) {
            alert("Please select atleast one loan.");
            return false;
        }
        var data = "&moredata=" + allVals;
        $.ajax({
                data: data,
                type: 'POST',
                url: '/loans/delete_loans',
                 success:function(data){
                    $('#loan_records').html(data);
                }
                
            });

    }

    $('document').ready(function(){
        
        $('.click_hide').click(function(){
            var c_id=$(this).attr('id');
            var lendr_id=c_id.replace("click_hide_","");
            var div_id="click_"+lendr_id;
            $("#"+div_id).show();
            $("#"+c_id).hide();
            $("#loan_lenders"+lendr_id).hide();

        });

        
    });	
    function lender_change(sts, id)
    {
            var status=sts.value;
            var lender_id=id;
            var data = "&status=" +status
            $.ajax({
                data: data,
                type: 'POST',
                url: '/loan_urls/'+lender_id+'/save_status',
                 success:function(response){
                    $('#del_'+id).hide();
                }
            }) ;
    }

    function order_lenderhide(id)
    {
            var lendr_id=id;
           // var lendr_id=c_id.replace("click_hide_","");
            var div_id="click_"+lendr_id;
            $("#"+div_id).show();
            $("#click_hide_"+lendr_id).hide();
            $("#loan_lenders"+lendr_id).hide();

    }

    function callAjax(customUrl, divId, formId){
    if(typeof(formId)==='undefined') data = '';
    else data = $('#'+formId).serialize();
    if(typeof(divId)===undefined) divId ='';
     $('#loan_lenders').html('loading...');
    $.ajax({
        type: 'POST',
        url: customUrl,
        data:data,
        success:function(data){

            $('#'+divId).html(data);
            if(formId=="lender_loans")
            {
                var a_id=divId.replace('loan_lenders','');
                $('#click_'+a_id).hide();
                $('#click_hide_'+a_id).show();
                $("#loan_lenders"+a_id).show();
            }

                },
        error:function(data){
            alert('Something went wrong.');
            
            },
        dataType: 'html',


    });
        
}
</script>
<div class="sort_buttons" style='margin-left:142px; margin-top:19px;'>
<% @url=url_for :controller=>'loans', :action=>'recent', :sort=>'desc' %>
<%= button_tag "Recent",  onclick:"callAjax('#{@url}','loan_records', 'all_loans' )", class: 'tiny button success sortbtn'%>

<% @url=url_for :controller=>'loans', :action=>'priority', :sort=>'ordering' %>
<%= button_tag "Priority",  onclick:"callAjax('#{@url}','loan_records', 'all_loans' )", class: 'tiny button success sortbtn'%>


<%= button_tag "Generate PDF",  onclick:"generate_pdf()", class: 'tiny button success generatepdf'%>
<a id="pdf_download" href="#" download target="_blank" style="display:none;">Download PDF</a>



</div>
<img src="http://idealview.us/assets/bin2.png" style="float: left; width: 39px; height: 38px; border: 1px solid; margin-left: 146px; cursor:pointer;" class="bin2" onclick="if(confirm('Are you sure you want to delete these items?')){delete_loans()}">




<h3 class='text-center'>Current Loans</h3>
<div class='row' id="loan_records" style="border-top: 7px solid rgb(242, 242, 242);">
<%= render partial: 'layouts/messages' %>
<%= render partial: 'all_loans'%>
</div>

 