<%
 unless @folders.blank?
	@folders.each do |folder| %>
		<div id="folder_<%= folder.id %>">
		<% 
		all_files = folder.files_by_folder(folder.loan_id)
		unless all_files.blank? 
			all_files.each do |file| %>
				
				<div class="file_show" style="height:56px;" id="del_file<%= file.id %>">
				   <% url=url_for :controller=>'loans', :action=>'view_file',:id=>file[:_id] %>
				    <a href='<%=url%>' target='_blank'><%=file.name%></a>
				
				<% unless current_user.blank? %>			   
				    <div class="hide_del" style="width: 24%; float:right;">
					    <div class="hidebtn" style="width:80px; float:left;" id="hidebtn_<%= file.id %>">
						    
						    <div id="hidefile_<%= file.id %>" <% if file.hide==1 %> style="display:none;" <% end %> >
						   		<%= button_tag "Hide", onclick:"hide_doc('#{file.id}');", class: 'tiny button alert'%>
						   	</div>
						   	
						   	<div id="showfile_<%= file.id %>" <% if file.hide!=1 %> style="display:none;" <% end %>
						   		<%= button_tag "Show", onclick:"show_doc('#{file.id}')", class: 'tiny button'%> 
						   	</div>
						   	
					   	</div>

					   	<div class="del" style="width:80px; float:left;">
					   		<%= button_tag "Delete", onclick:"if(confirm('Are you sure? You want to delete this file')){del_doc('#{file.id}')}", class: 'tiny button'%>
					   	</div> 
				   	</div>
				<% end %>
			  </div>
	 		<% end
		end
		%>

		<div  class="folder_content" style='margin-top:30px;width:100%'>
			<% unless current_user.blank? %>
				<div class="del" style="width:auto; float:left;">
						   		<%= button_tag "Delete Folder", onclick:"if(confirm('Are you sure? You want to delete this folder')){del_folder('#{folder.id}')}", class: 'alert tiny button'%>
				</div>
			<% end %>
			<%
				fldr = folder.folder_name
				formId=fldr.gsub(',','_') 
				formId=formId.gsub('&','_') 
				formId=formId.gsub(' ','_') 
				%>
				<%= render partial:'folder_file', locals:{contact_id:folder.loan_id, form_id:formId+'_upload', controller:'loans', action:'upload_file', folder:folder.id, multiple:'true', type:'full', button_label:'Add Files to: '+folder.folder_name}
				%>
				
		</div>
	  </div>
	<% end
   end
  %>