<script>
$(function () {
    $('#<%=form_id%>').fileupload({
        dataType: 'json',
        add: function (e, data) {
            data.context = $('<tr/>').text('Uploading...').appendTo($('#files-table-<%=form_id%>'));
	       	$.each(data.files, function (index, file) {
	            data.context.html('<td>'+file.name + '</td><td>Uploading....</td>');
	        });

            data.submit();
        },
        
       progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress-<%=form_id%> .meter').css(
            'width',
            progress + '%'
        );
       },
       done: function (e, data) {
	       	$.each(data.files, function (index, file) {
	            data.context.html('<td>'+file.name + '</td><td>Upload finished.</td>');
	        });
     
       }  
        
    });
});
</script>
<% 
if !defined? button_label 
	button_label = 'Add files...'
end
%>

<div id='test'></div>
<div>
 	<%= form_tag({:controller=>controller, :action=>action,:id=>contact_id},  :id=>form_id, :enctype=>"multipart/form-data", :method=>"POST") do %>
       <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="small-12 columns centered">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <% if defined? folder %>
               		<%= hidden_field_tag 'folder', folder %>
               	<% end %>

                	
                <ul class="button-group">
	                <li class="tiny button success fileinput-button">
	                     <span><%=button_label%></span>
	                    <input type="file" name="files[]" multiple style="float:left;">
	                </li>

                </ul>
               

                
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
                <div id='progress-<%=form_id%>' class="progress progress-striped active" role="progressbar" style='width:100%'>
                    <span class="meter" style="width: 0%"></span>
                </div>
                
            </div>

        </div>
        <!-- The table listing the files available for upload/download -->
 		<table role="presentation" class="table table-striped" style='width:100%'><tbody id='files-table-<%=form_id%>' class="files"></tbody></table>
    <% end %>
</div>




<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="alert label"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><span class="meter" style="width:0%;"></span></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="button tiny" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="button tiny warning">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label alert">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="button tiny alert" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="button tiny warning">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

