<% images.each do |image| %>
  <%if !image.url.blank? %>
  <li id='<%=image._id%>'>
  	<a class='th' href="<%=image.url %>">
  		<img style='height:100px;width:100px;' src="<%=image.url %>">
  	</a>
  	<BR>
	<% if policy(Loan).update? %>
	   <% url=url_for :controller=>'loans', :action=>'delete_image',:id=>image['_id'] %>
	  	<div onclick='callAjax("<%=url%>","<%=image._id%>" );' class='label alert' style='z-index:1000;width:100%;text-align:center;cursor:pointer'>
	  		Remove
	  	</div>
	<% end %>
  </li>
  <% end %>
<% end %>