 <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
 <link  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" media="all" rel="stylesheet" />
 <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
    $('document').ready(function(){


	$(".js-example-tokenizer").select2({
		    tags: true,
		    tokenSeparators: [',', ' ']
		 });
		
		$( "#sortable" ).sortable();
		$( "#sortable" ).disableSelection();
	});

	function downloadInnerHtml(filename, divId, mimeType) {
		var a = document.body.appendChild(
		    document.createElement("a")
		);
		a.download = "export.html";
		a.href = "data:text/html," + document.getElementById(divId).innerHTML;
		a.innerHTML = "[Export conent]";
	}

	function generate_html()
	{
		 var cont = $('#edit_content').html();
		
		$.ajax({
                data: {
				    content: cont
				  },
                type: 'POST',
                url: '/loans/generate_html',
                success:function(response){
                window.open('http://idealview.us/loans/show_pdf/'+response);
                //window.open('http://localhost:3000/loans/show_pdf/'+response);
                //$("a#pdf_download").attr("href","http://idealview.us/pdfs/"+response);
                $("a#pdf_download").fadeIn();
            }
               
            });

	}

 	/*$(document).ready(function(e){
		var divheight = $("#edit_content").css('height');
		var bottom = divheight;
		var num = bottom/400;
		function tick() {
	        if(--bottom < -height){
	            left = containerwidth;
	        }
	        $(".ticker-text").css("margin-left", left + "px");
	        setTimeout(tick, 16);
	      }
	      tick();
	});*/

</script>
 
<style type="text/css">
	.head_title
	{
		text-align: center;
	}
	.center_div
	{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.btn_div
	{
		margin-right: auto;
		margin-left: auto;
		width:30%;
	}
	.emails_add
	{
		width: 557px; 
		margin-left:auto; 
		margin-right:auto;
	}

	#popup{
	  position:absolute;
	  width:600px;
	  height:180px;
	  background:#fff;
	  left:50%;
	  top:50%;
	  border-radius:5px;
	  padding:60px 0;
	  margin-left:-320px; /* width/2 + padding-left */
	  margin-top:-150px; /* height/2 + padding-top */
	  text-align:center;
	  box-shadow:0 0 10px 0 #000;
	  
	  #tweet{
	    color: #4099FF;
	  }
	}

	#close{
	  position:absolute;
	  background:black;
	  color:white;
	  right:-15px;
	  top:-15px;
	  border-radius:50%;
	  width:30px;
	  height:30px;
	  line-height:30px;
	  text-align:center;
	  font-size:8px;
	  font-weight:bold;
	  font-family:'Arial Black', Arial, sans-serif;
	  cursor:pointer;
	  box-shadow:0 0 10px 0 #000;
	}

</style>
<div class="enter_email" style="display:none;">
	<select class="js-example-tokenizer form-control" multiple="multiple" style="width: 557px;">
	          <option>red</option>
	          <option>blue</option>
	          <option>green</option>
	</select>
</div>
<div class="all_content">
	<h3 class="head_title">Pipeline Summary Edit Station</h3>
	<div class="center_div">
		<div class="btn_div">
			
			<input type="button" value="Save Pipeline" class="tiny button" onclick="generate_html()">
			<input type="button" value="Generate & Send" class="tiny button success">
		</div>

		<div class="emails_add">
			<select class="js-example-tokenizer form-control" multiple="multiple" >
		          <option>red</option>
		          <option>blue</option>
		          <option>green</option>
			</select>
		</div>
		<span><%= @record.name %></span>

		<div id="edit_content" style=" border:1px solid black; height:auto;">
			
			<style>
				@media print {
					    .not_print{
					        display: none;
					    		}
							}

						.loan_defination {
						    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
						    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
						    page-break-inside: avoid; /* or 'auto' */
						}
						li { cursor: pointer; cursor: all-scroll; list-style: none; }

			</style>

			<div style='width:100%;overflow:hidden	' >
			<img src='http://idealview.us/assets/idealview-logo-2c6b9989b6877f38ebd24059a00f91e4.png' style='width:250px; float:left;'>
			<p style='float:right;'>Pipeline Summary <%= @str_time %></p>
			</div>
				<ul id="sortable">
				<% @pdfs.each do |pdf| %>
					<li>
						<div style='width:94%; border: 2px solid black; text-align:left;margin-left:10px; padding-left:10px; padding-right:10px; padding-bottom:25px; margin-bottom:25px;' class="loan_defination" id="loan_div<%= pdf.id %>">
							<br>
							<b><%= pdf.loan_name+" | "+pdf.location %></b>
							<br>
							<b>Loan Amount : </b><%= pdf.amount %>
							<br><br>
							<b>Summary : </b><%= pdf.summary %>
							<br>
						</div>
						
						<div class="not_print" style="height:40px;border:1px solid red; display:none; ">
						
						</div>
					</li>
				<% end %>
				</ul>
			</div>

		</div>
</div>
<p class="page_brk" style="page-break-after:always;"></p>