<div id='nda' class='block-out'>

		<div class='row' style='margin-top:100px;padding-bottom:20px'>
			<div class='small-12 columns  nda-background'>
				<h4>Mutual Non-Disclosure, Non-Circumvention Agreement</h4>
				<%= form_tag({:controller=>'loans', :action=>'nda_signed'}) do %>
					
					<div style='width:300px;margin-left:auto;margin-right:auto;'>
						<b>Name</b><BR><%= text_field_tag 'name' %>
						<b>Email</b><BR><%= email_field_tag 'email' %>	
						<%= hidden_field_tag 'id', @loan.id %>						
						<%= button_tag(type: 'submit', class:'button tiny') do
  								content_tag(:strong, 'I Agree')
							end
						%>
					</div>

				<% end %>
				<div>By clicking 'I Agree' and entering this site you are acknowledging you have read and agree to be bound by the terms of the agreement below.</div>	
				
				
				<div style='height:350px;width:100%;overflow:auto;background-color:#FFFFFF;margin-bottom:30px;padding:5px;'>
					
					<div>This Mutual Nondisclosure and Non-Circumvention Agreement (“Agreement”), is entered into between Fundingdatabase.com, LLC a Delaware limited liability company and the current user, hereinafter referred to as the party or parties.</div>
					<BR><BR>
					<ul class="list-unstyled">
						<li>
							<p><u>Purpose.</u> The parties wish to explore certain business opportunities of mutual interest and, in connection with these opportunities and the resulting business relationships, if any, each party may disclose to the other certain confidential technical and business information, which information is deemed by the parties to be confidential and proprietary. As such, it is agreed that such information will be held in confidence between the Parties, hereto, and only used and/or distributed to others, who agree to be bound by the terms of this Agreement, on a need to know basis and as necessary to complete a mutually beneficial transaction.  Whichever of the parties is receiving the information is referred to herein as “Recipient” and the party furnishing the information is referred to herein as “Discloser.”</p>
						</li>
						<li>
							<p><u>Proprietary Information.</u> “Proprietary Information” means any information disclosed by either party to the other party, either directly or indirectly, in writing, orally or by inspection of tangible objects (including, without limitation, documents, business, financial and marketing plans, methods, processes, names of certain interested third parties, third party confidential financial or business information, present and other technical and business information), which is conspicuously marked as “Confidential”, “Proprietary” or any similar manner. Information communicated orally shall be considered Proprietary Information if such information is confirmed in writing as being Proprietary Information within thirty (30) days after the initial disclosure. Proprietary Information shall not, however, include any information which Recipient can establish (i) was publicly known and made generally available in the public domain prior to the time of disclosure by Discloser; (ii) becomes publicly known and made generally available after disclosure by Discloser to Recipient through no action or inaction of Recipient; (iii) is already in the possession of Recipient without restriction on use or disclosure at the time of disclosure by Discloser a shown by Recipient’s files and records immediately prior to the time of disclosure; (iv) is obtained by Recipient without restriction on use or disclosure from a third party without a breach of such third party’s obligations of confidentiality; or (v) is independently developed by Recipient without use of or reference to Discloser’s Proprietary Information, as shown by Recipient’s files and records immediately prior to the time of disclosure.</p>						</li>
						</li>
						<li>
							<p><u>Non-use and Non-disclosure.</u> Recipient agrees (i) to hold the Proprietary Information of Discloser in strict confidence and to take reasonable precautions to protect such Proprietary Information (which precautions shall be no less than those employed by Recipient to preserve the integrity of its own confidential materials), (ii) not to disclose any such Proprietary Information or any information derived there from to any third party except to those of Recipient’s employees, officers and directors or other individuals who have a legitimate “need to know” and are bound in writing to the restrictions herein, and (iii) not to make any use whatsoever at any time of any such Proprietary Information, except (a) to evaluate and engage in discussions with Discloser concerning a potential business relationship between the parties and. (b) to the extent the parties enter into a business relationship as provided in the definitive agreement executed in connection with such relationship. </p>
						</li>
						<li>
							<p><u> Non-circumvention.</u> For five (5) years after the effective date of this Agreement, the Receiving Party and its officers and directors, separately and individually, will not make any effort to circumvent the terms of this Agreement in an attempt to gain the benefits or considerations granted to it under the Agreement by taking any actions to indirectly gain the benefits of the Confidential Information, including but not limited to contracting directly with any client of the other party which Disclosing Party has identified as having access to the Confidential Information, or (b) hiring or contracting with any present or future employee or independent contractor of Disclosing Party. Both parties agree to include the other in correspondence with joint contacts and relationships during the term of this agreement.</p>
						</li>
						<li>
							<p><u>Court Ordered Disclosure.</u> Recipient may disclose such parts of Proprietary Information as may be required by law or court order provided, that Recipient (i) provides Discloser prompt written notice of such requirement, (ii) uses diligent efforts to limit disclosure and obtain confidential treatment or a protective order, and (iii) provides Discloser with such other cooperation that is reasonably requested.</p>
						</li>
						<li>
							<p><u>Return of information.</u> Immediately upon the decision by either party not to enter into the contemplated relationship or transaction, or upon request by Discloser made at any time. Recipient will turn over to Discloser all manifestations of its Proprietary Information, and all documents or media containing such Proprietary Information, and all copies or extracts thereof.</p>
						</li>
						<li>
							<p><u>No Obligation.</u> Nothing herein shall obligate either party to proceed with any transaction(s) between them, and each party reserves the right, in its sole discretion, to terminate the discussions contemplated by this Agreement concerning the business opportunity.</p>
						</li>
						<li>
							<p><u>No Warranty.</u> ALL PROPRIETARY INFORMATION IS PROVIDED “AS-IS.” NEITHER PARTY MAKES ANY WARRANTY, EXPRESS OR IMPLIED, REGARDING THE ACCURACY OR COMPLETENESS OF ITS PROPRIETARY INFORMATION.</p>
						</li>
						<li>
							<p><u>No License.</u> Nothing in this Agreement is intended to grant any rights to either party under any patent, copyright or other intellectual property of the other party, nor shall this Agreement grant any party any rights in or to the Proprietary Information of the other party, except for the use of Proprietary Information that is expressly permitted herein.</p>
						</li>
						<li >
							<p><u>Term.</u> The obligations of the Recipient set forth herein shall continue for a period of five (5) years from the effective date of disclosure of the Proprietary Information. The remainder of the terms of this Agreement shall survive in perpetuity.</p>
						</li>
						<li >
							<p><u>General.</u> In the event that any of the provisions of this Agreement shall be held by a court or other tribunal of competent jurisdiction to be illegal, invalid or unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect. This Agreement shall be governed by the law of the State of Utah without regard to the conflicts of law provisions thereof. The parties consent to the exclusive jurisdiction and venue of the state and federal courts having within their jurisdiction the location of individual’s principal place of business. Notices hereunder will be effective only if in writing and upon receipt if delivered personally or by overnight mail carrier, or three (3) days after deposit in the U.S. mail, first-class postage prepaid. The prevailing party in any action to enforce this Agreement shall be entitled to its costs and fees (including attorneys’ fees and expert witness foes) incurred in connection with such action. No waiver or modification of this Agreement will be binding upon either party unless made in writing and signed by a duly authorized representative of such party and no failure or delay in enforcing any right will he deemed a waiver. This Agreement supersedes all prior discussions and writings and constitutes the entire agreement between the parties with respect to the matter.</p>
						</li>

					</ul>	
							
					
				</div>
			</div>	
		</div>	
	
</div>
