 <%= render partial: 'layouts/messages' %>
    <% color_class = ''%>
    <%
    unless @lenders.blank?
     @lenders.each do |lender| 
        unless lender['delete']==1 
                #abort("#{lender.inspect}")
            %>
        <div class='row <%=color_class%> bottom-space text-left'>
            
            <div class='large-2 columns'>
            <input type="checkbox" id="check_<%= lender.id %>" name="select_broker" value="<%= lender.id %>" style="float:left;margin-top:7px;">
            <div id="click_<%= lender.id %>" style="float:left;">
           <% @url=url_for :controller=>'lenders', :action=>'fetch_detail', :id=>lender.id %>
                <a href="javascript:void(0);"  onclick="callAjax('<%= @url %>','loan_lenders<%= lender.id %>', 'lender_loans')">[+]</a>
            </div>
            <div id="click_hide_<%= lender.id %>" style="display:none; float:left;" class="click_hide" onclick="order_lenderhide('<%= lender.id %>')">
                <a href="javascript:void(0);" class="hide_lender_<%= lender.id %>">[-]</a>
            </div>
            </div>
            
            <div class='large-3 columns'>
                
                    <% unless lender.company.blank? %>
                        <%= lender.company %>
                    <% else %>
                         N/A
                    <% end %>
                 
            </div>

            <div class='large-3 columns'>
                <% unless lender.phone1.blank? %>
                        <%= lender.phone1 %>
                    <% else %>
                         N/A
                    <% end %>
            </div>
            
            <div class='large-3 columns'>
               
                 
                        <% unless lender.city.blank? %>
                            <%= lender.city %>, <%= lender.state %>
                        <% else %>
                            N/A
                        <% end %>
                  

              
            </div>
            <div class='large-3 columns'>
                        <% unless lender.lendingStates0.blank? %>
                           Lending States : <%= lender.lendingStates0 %>
                        <% else %>
                            N/A
                        <% end %>
             </div>
            <div class='large-3 columns'>
                <%= lender.email %>
            </div>
            <div id="loan_lenders<%= lender.id %>" class="<%=color_class%>" style="float:left; min-height:10px; margin-left:73px; display:none; width:100%">
        </div>
        </div>
         

        <% color_class.blank? ? (color_class='even-row'):(color_class='') %>

    <%
    end
end
end %>
