<style>
.br-header{position: relative; float: left; width: 100%; margin-top:10px;}
 form#search_form {position: absolute;right: 0;top: 0;}
 .form_wrap{float: left; width: 100%; position: relative;}
 .form_wrap > input#search_btn {
    height: 34px;
    position: absolute;
    right:1px;
    border: none;
    background-image:url("assets/search.png"); 
    background-repeat: no-repeat;
    top: 1px;
    width: 36px;
    background-position: center;
    cursor: pointer;
}
.large-3
{
    width:23%;
}
.large-2
{
    width:6%;
}
.loan_info
{
    width:50%;
}
.info
{
    float: left;
     
}
</style>
<script type="text/javascript">

    jQuery(function($) { $.extend({
    form: function(url, data, method) {
        if (method == null) method = 'POST';
        if (data == null) data = {};

        var form = $('<form>').attr({
            method: method,
            action: url
         }).css({
            display: 'none'
         });

        var addData = function(name, data) {
            if ($.isArray(data)) {
                for (var i = 0; i < data.length; i++) {
                    var value = data[i];
                    addData(name + '[]', value);
                }
            } else if (typeof data === 'object') {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        addData(name + '[' + key + ']', data[key]);
                    }
                }
            } else if (data != null) {
                form.append($('<input>').attr({
                  type: 'hidden',
                  name: String(name),
                  value: String(data)
                }));
            }
        };

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                addData(key, data[key]);
            }
        }

        return form.appendTo('body');
    }
    });

   
 });

$('document').ready(function(){
     $('#search_form').submit(function() {
      return false;
     });

     $('.click_hide').click(function(){
            var c_id=$(this).attr('id');
            var lendr_id=c_id.replace("click_hide_","");
            var div_id="click_"+lendr_id;
            $("#"+div_id).show();
            $("#"+c_id).hide();
            $("#loan_lenders"+lendr_id).hide();

        });

})

function delete_lenders()
{
    var allVals=[];
    $('input[name="select_broker"]:checked').each(function(){
        allVals.push($(this).val());
    });
    if (allVals.length === 0) {
        alert("Please select atleast one broker.");
        return false;
    }
    var data = "&moredata=" + allVals;
    $.ajax({
            data: data,
            type: 'POST',
            url: '/lenders/delete_lenders',
             success:function(data){
                $('#lender_records').html(data);
            }
            
        });

}

function search_fun()
{
    var data=$('#search_form').serialize();
    $.ajax({
            data: data,
            type: 'POST',
            url: '/brokers/search',
            success:function(response){
                $('#broker_records').html(response);
            }
        });
}

function callAjax(customUrl, divId, formId){
    if(typeof(formId)==='undefined') data = '';
    else data = $('#'+formId).serialize();
    if(typeof(divId)===undefined) divId ='';
     $('#loan_lenders').html('loading...');
    $.ajax({
        type: 'POST',
        url: customUrl,
        data:data,
        success:function(data){

            $('#'+divId).html(data);
            if(formId=="lender_loans")
            {
                var a_id=divId.replace('loan_lenders','');
                $('#click_'+a_id).hide();
                $('#click_hide_'+a_id).show();
                $("#loan_lenders"+a_id).show();
            }

                },
        error:function(data){
            alert('Something went wrong.');
            
            },
        dataType: 'html',


    });
        
}

function order_lenderhide(id)
    {
            var lendr_id=id;
           // var lendr_id=c_id.replace("click_hide_","");
            var div_id="click_"+lendr_id;
            $("#"+div_id).show();
            $("#click_hide_"+lendr_id).hide();
            $("#loan_lenders"+lendr_id).hide();

    }

</script>
<div class="row">
    <div class="br-header">
        <img src="http://idealview.us/assets/bin2.png" style="float: left; width: 39px; height: 38px; border: 1px solid; cursor:pointer;" class="bin2" onclick="if(confirm('Are you sure you want to delete these items?')){delete_lenders()}">
        <h3 class='text-center'>Lenders</h3>
        <!--
        <div class="broker_search">
            <form name="search_form" id="search_form" style="width:250px;">
                <div class="form_wrap">
                    <input type="text" name="search" placeholder="Search">
                    <input type="button" id="search_btn" onclick="search_fun();">
                </div>
            </form>
        </div>
        -->
    </div>
</div>
<div class='row' id="lender_records" style="border-top: 7px solid rgb(242, 242, 242);">
    <%= render partial: 'layouts/messages' %>
    <% color_class = ''%>
    <% @lenders.each do |lender| 
        unless lender['delete']==1 
                #abort("#{lender.inspect}")
            %>
        <div class='row <%=color_class%> bottom-space text-left'>
            
            <div class='large-2 columns'>
            <input type="checkbox" id="check_<%= lender.id %>" name="select_broker" value="<%= lender.id %>" style="float:left;margin-top:7px;">
            <div id="click_<%= lender.id %>" style="float:left;">
           <% @url=url_for :controller=>'lenders', :action=>'fetch_detail', :id=>lender.id %>
                <a href="javascript:void(0);"  onclick="callAjax('<%= @url %>','loan_lenders<%= lender.id %>', 'lender_loans')">[+]</a>
            </div>
            <div id="click_hide_<%= lender.id %>" style="display:none; float:left;" class="click_hide" onclick="order_lenderhide('<%= lender.id %>')">
                <a href="javascript:void(0);" class="hide_lender_<%= lender.id %>">[-]</a>
            </div>
            </div>
            
            <div class='large-3 columns'>
                
                    <% unless lender.company.blank? %>
                        <%= lender.company %>
                    <% else %>
                         N/A
                    <% end %>
                 
            </div>

            <div class='large-3 columns'>
                <% unless lender.phone1.blank? %>
                        <%= lender.phone1 %>
                    <% else %>
                         N/A
                    <% end %>
            </div>
            
            <div class='large-3 columns'>
               
                 
                        <% unless lender.city.blank? %>
                            <%= lender.city %>, <%= lender.state %>
                        <% else %>
                            N/A
                        <% end %>
                  

              
            </div>

            <div class='large-3 columns'>
                <%= lender.email %>
            </div>
            <div id="loan_lenders<%= lender.id %>" class="<%=color_class%>" style="float:left; min-height:10px; margin-left:73px; display:none; width:100%">
        </div>
        </div>
         

        <% color_class.blank? ? (color_class='even-row'):(color_class='') %>

    <%
    end
end %>

</div>

 