
<tr>
	<td><%=url.email%></td>
	<td><%=url.name%></td>
	<td><%=url.dateCreated.strftime('%m/%d/%Y') %></td>
	<td style='max-width:200px;word-wrap: break-word'><%=url.get_url%></td>
	<td><%=url.visits.count%></td>
	<td>
		<% if !url.visits.last.blank? %>
		<%=url.visits.last.strftime('%m/%d/%Y')%>
		<% end %>
	</td>
	
	<% @url=url_for :controller=>'loan_urls', :action=>'email_link', :id=>url.id %>
	<td><%= button_tag "Email",  onclick:"if(confirm('Are you sure you want to send this email?')){callAjax('#{@url}','show-urls', 'loan-url-form' )}", class: 'tiny button success'%></td>
	
	<% @url=url_for :controller=>'loan_urls', :action=>'destroy', :id=>url.id %>
	<td><%= button_tag "Remove",  onclick:"if(confirm('Are you sure you delete access?')){callAjax('#{@url}','show-urls', 'loan-url-form' )}", class: 'tiny button alert'%></td>
</tr>

