<div class='row panel bottom-space'>
<h4>Personal Information</h4>
	<div class='medium-4 columns custom-info'>
		<div style='font-weight: bold'>Name</div>
		<%temp_name = 'FirstName'%>
		<div id='<%=temp_name%>' class='left'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: '', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
		
		</span><span class='left'>&nbsp;&nbsp;</span>
		<%temp_name = 'LastName'%>
		<div id='<%=temp_name%>' class='left'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: '', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
	</div>
		
		<%temp_name = 'Phone1'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_phone',
					field_type: 'text_field_tag', 
					field_label: 'Phone', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>

		<%temp_name = 'Email'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'email_field_tag', 
					field_label: 'Email', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
<div class='row'>			
		<%temp_name = 'StreetAddress1'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'Address', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>


		<%temp_name = 'City'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'City', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>



		<%temp_name = 'State'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'select_tag', 
					field_label: 'State', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'Loan.states',
				} %>
		</div>

		
		<%temp_name = 'PostalCode'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'Zip', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
</div>



<div class='row'>

		<%temp_name = 'Birthday'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_date',
					field_type: 'date_field_tag', 
					field_label: 'Birthday', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
		
		
		
		<%temp_name = '_EIN'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_ssn',
					field_type: 'password_field_tag', 
					field_label: 'EIN', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>


		<%temp_name = '_SocialSecurityNumber'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_ssn',
					field_type: 'password_field_tag', 
					field_label: 'SSN', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
</div>

<div class='row'>
		<%temp_name = '_GrossMonthlyIncome'%>
		<div id='<%=temp_name%>' class='medium-6 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Gross Monthly Income', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>



		<%temp_name = '_CashContribution'%>
		<div id='<%=temp_name%>' class='medium-6 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Borrower Cash Contribution', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
</div>		


</div>

<div class='row bottom-space'>
		<%temp_name = '_BorrowerBio'%>
		<div id='<%=temp_name%>' class='large-12 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'simple_format',
					field_type: 'text_area_tag', 
					field_label: 'Borrower Bio', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
</div>

<div class='row panel bottom-space'>
	<h4>Business Information</h4>
	<div class='row'>
		<%temp_name = '_BusinessName'%>
		<div id='<%=temp_name%>' class='medium-6 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'Name', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>


		<%temp_name = 'Phone2'%>
		<div id='<%=temp_name%>' class='medium-6 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_phone',
					field_type: 'text_field_tag', 
					field_label: 'Phone', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
	</div>
	
	
	<div class='row'>
	
		<%temp_name = 'Address2Street1'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'Address', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>




		<%temp_name = 'City2'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'City', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>


		<%temp_name = 'State2'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'State', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>



		<%temp_name = 'PostalCode2'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'text_field_tag', 
					field_label: 'Zip', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
	</div>
	
	
	
	<div class='row'>
		<%temp_name = '_BorrowerTimeInBusiness'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'select_tag', 
					field_label: 'Time In Business', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'Loan.time_options',
				} %>
		</div>


		<%temp_name = '_RevenueTimePeriod'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'select_tag', 
					field_label: 'Years of Revenue', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'Loan.time_options',
				} %>
		</div>


		<%temp_name = '_BusinessEIN'%>
		<div id='<%=temp_name%>' class='medium-4 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_ssn',
					field_type: 'text_field_tag', 
					field_label: 'Business EIN', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
	</div>
</div>


<div class='row panel bottom-space'>
	<h4>Business Financials</h4>



	<div class='row'>
		<%temp_name = '_CashOnHand'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Cash On Hand', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>



		<%temp_name = '_EstFICO'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_number',
					field_type: 'text_field_tag', 
					field_label: 'Est. FICO', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>



		<%temp_name = '_AvailableCredit'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Available Credit', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
	</div>
	
	
	
	<div class='row'>

		<%temp_name = '_MonthlyNOI'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Monthly NOI', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>


		<%temp_name = '_AnnualNOI'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Annual NOI', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>



		<%temp_name = '_AccountsReceivable'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Accounts Receivable', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>


		<%temp_name = '_AccountsPayable'%>
		<div id='<%=temp_name%>' class='medium-3 columns custom-info'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Accounts Payable', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
	</div>


</div>









			