		<%temp_name = '_NetLoanAmountRequested0'%>
		<div id='<%=temp_name%>' class='bottom-space' >
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_money',
					field_type: 'text_field_tag', 
					field_label: 'Net Loan Amount Requested', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'',
				} %>
		</div>
		

		<div class='bottom-space'>
			<b>Value</b><BR>
			<%=fd_money(@loan.info['_EstimatedMarketValue'])%>
		</div>
		
		
		
		<%temp_name = '_DesiredTermLength'%>
		<div id='<%=temp_name%>' class='bottom-space' >
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'select_tag', 
					field_label: 'Desired Term Length', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'Loan.term_lengths'
				} %>
		</div>



		<div class='bottom-space'>
			<b>Location</b><BR>
			<%=@loan.info['City3']%>, <%=@loan.info['State3']%>
		</div>
		


		<%temp_name = '_ExpectedCloseDate'%>
		<div id='<%=temp_name%>' class='bottom-space'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_date',
					field_type: 'date_field_tag', 
					field_label: 'Expected Close Date', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:''
				} %>
		</div>
		

		<div id='loan-category'>
		<%=render partial: 'loan_category', locals:{contact:@loan, edit:false}%>
		</div>
		
		
		<%temp_name = '_TransactionType0'%>
		<div id='<%=temp_name%>' class='bottom-space'>
			<%= render partial: 'mini_form', locals:
				{
					edit: false,
					contact_id:@loan['_id'],
					format_type:'fd_text',
					field_type: 'select_tag', 
					field_label: 'Transaction Type', 
					field_name:temp_name,
					field_value:@loan.info[temp_name],
					field_options:'Loan.transaction_types'
				} %>
		</div>


