<div class='row'>
	<%= render partial: 'layouts/messages' %>
	<%= form_tag({:controller=>'loan_urls', :action=>'create'}, :onSubmit => 'return false', :id=>'loan-url-form') do %>
	
		<%= hidden_field_tag 'loan_id', @loan.id %>
		<div class='medium-4 columns'><%=email_field_tag 'email', '', placeholder:'email@example.com' %></div>
		<div class='medium-4 columns'><%=text_field_tag 'name', '', placeholder:'Full Name' %></div>
		<% @url=url_for :controller=>'loan_urls', :action=>'create' %>
		<div class='medium-1 columns'><%= button_tag "Add",  onclick:"callAjax('#{@url}','show-urls', 'loan-url-form' )", class: 'tiny button'%></div>
		<div class='medium-3 columns'></div>
	<% end %>


	<table style='small-12'>
		<tr><th>Email</th><th>Name</th><th>Date Created</th><th>Link</th><th>#Visits</th><th>Last Visit</th></tr>
	<% @loan.loan_urls.each do |loan_url|%>
		<%= render partial: 'loan_urls/show', locals:{url:loan_url}%>
	<% end %>
	</table>
</div>
