
<% if (!field_value.blank? && field_value != 0) || current_user %>
<%= form_tag({:controller=>'loans', :action=>'edit_field',:id=>contact_id, :field=>field_name, :edit=>false, :format_type=>format_type}, :onSubmit => 'return false', :id=>field_name+'-form') do %>
		  <%= hidden_field_tag 'contact_id', contact_id %>
		  <%= hidden_field_tag 'field_type', field_type %>
		  <%= hidden_field_tag 'field_name', field_name %>
		  <%= hidden_field_tag 'field_label', field_label %>
		  <%= hidden_field_tag 'field_options', field_options %>

	<%if edit%>
		  <div>
		    <b><%= field_label %></b><br>




		    <%
		    if field_type=='select_tag'
		    	options = eval(field_options)
				if options.class == Hash
					if !options[field_value].blank?
				   		field_value=options[field_value]
				   end
				end
		    	field_value=options_for_select(options,field_value)
		    end
		    
		    if field_type == 'date_field_tag'
		    	if !field_value.blank?
     				field_value = Date.strptime(field_value.to_date.strftime("%d/%m/%Y"), '%d/%m/%Y')
  				end
		    end
		    %>
	    	<%
	    	html_options = [rows:1]
	    	if field_type=='text_area_tag'
	    		html_options = [rows:15]
	    	end
	    		
	    	%>

	    	<%
			  extra_callback = '';
			  if field_name =='_FreeandClear0'
			  	extra_url = url_for :controller=>'loans', :action=>'update_amount_owed',:id=>contact_id
			  	extra_callback = "callAjax('#{extra_url}','_AmountOwed', '#{field_name}-form' );"
			  end
			  %>
		    <div style='max-width:800px;margin-left:auto;margin-right:auto;'><%= send(field_type, field_name, field_value, html_options[0])  %></div>
		  </div>
		  

		  
			<% @url=url_for :controller=>'loans', :action=>'edit_field',:id=>contact_id, :field=>field_name, :edit=>false, :format_type=>format_type%>
		  <%= button_tag "Save", data: { disable_with: "Please wait..." }, onclick:"callAjax('#{@url}','#{field_name}', '#{field_name}-form' );#{extra_callback}", class: 'tiny button'%>
			<% @url=url_for :controller=>'loans', :action=>'edit_field',:id=>contact_id, :field=>field_name, :edit=>false, :format_type=>format_type, :cancel=>true%>
		  <%= button_tag "Cancel", data: { disable_with: "Please wait..." }, onclick:"callAjax('#{@url}','#{field_name}', '#{field_name}-form' );", class: 'tiny button'%>
		  
		
	<%else%>
		<%
		    if field_type=='select_tag'
		    	options = eval(field_options)
				if options.class == Hash
					if !options.key(field_value).blank?
				   		field_value=options.key(field_value)
				    end
			        if !options.key(field_value.to_s).blank?
				   		field_value=options.key(field_value.to_s)
				    end
				end
		    end
		 %>

		<% @url=url_for :controller=>'loans', :action=>'edit_field',:id=>contact_id, :field=>field_name, :edit=>true, :format_type=>format_type%>
		<span style='min-width:20px;min-height:20px' <% if policy(Loan).update? %> ondblclick='callAjax("<%=@url%>","<%=field_name%>","<%=field_name+'-form'%>")' <% end %>>
			<% if !field_label.blank? %>
			<span style='font-weight:bold'><%=field_label%></span><BR>
			<% end %>
			<%
				if field_value == 'Both'
					field_text = 'Purchase & Refinance'
				else
					field_text = field_value
				end
				
				if field_value.blank?
					if field_label.blank?
						field_text = 'No '+field_name
					else
						field_text = 'No '+field_label
					end	
				end
			%>
			<%= send(format_type, field_text) %>
		</span>
		<%= hidden_field_tag field_name, field_value %>
	<%end%>
<% end %>
<% end %>
