<h3 class='text-center'>Current Loans</h3>
<div class='row'>
<% color_class = ''%>
<%@loans.each do |loan|%>

<div class='row <%=color_class%> bottom-space text-left'>
	<%
	if loan['_LoanName'].blank? 
		loan_name = 'No Loan Title'
	else
		loan_name = loan['_LoanName']
	end
	%>
	<div class='large-2 columns'><h5><a href='<%=url_for :controller=>'loans', :action=>'show',:id=>loan['Id']%>'><%=loan_name%></a></h5></div>
	<div class='large-2 columns'>
		<span>Net Amount:</span><BR>
		<% if loan['_NetLoanAmountRequested0'].blank? %>
			N/A
		<% else %>
			<%=fd_money(loan['_NetLoanAmountRequested0'])%>
		<% end %>
	</div>
	<div class='large-2 columns'>
		<span>Name:</span>
		<%=loan['FirstName']%> <%=loan['LastName']%>
	</div>
	<div class='large-3 columns'>
		<span>Loan Category:</span>
		<% if loan['_LendingCategory'].blank? %>
			N/A
		<% else %>
			<%=loan['_LendingCategory']%>
		<% end %>
	</div>
    <div id='<%=@shop_loan_id%>' class='large-3 columns'>
        <% if loan['_LenderEmail'].blank? %>
        <% @shop_loan_id = 'shop-loan-'+loan['Id'].to_s %>

            <% @url=url_for :controller=>'api/actions', :action=>'manual_shop_loan', :id=>loan['Id'], :token=>'54b0c58c7ce9f2a8b551351102ee0938', :only_path=>false%>
          <%= button_tag "Shop Loan", onclick:"if(confirm('Are you sure? This will start sending emails!')){callAjax('#{@url}','#{@shop_loan_id}');}", class: 'tiny button'%>
        <% end %>
         <a class='tiny button alert' href="<%=url_for :controller=>'loans', :action=>'archive', :id=>loan['Id'], :only_path=>false%>">
            Archive
        </a>

    </div>
  
    
    
	<div class='hide'>
		<div class='large-4 columns'>
			<div class='label secondary'>Transaction Type</div><BR>
			<% if loan['_TransactionType0'].blank? %>
				N/A
			<% else %>
				<%=loan['_TransactionType0']%>
			<% end %>
		</div>
		<div class='large-4 columns'>
			<div class='label secondary'>Cash Contribution</div><BR>
			<% if loan['_CashContribution'].blank? %>
				N/A
			<% else %>
				<%=fd_money(loan['_CashContribution'])%>
			<% end %>
		</div>
		<div class='large-4 columns'>
			<div class='label secondary'>Desired Term Length</div><BR>
			<% if loan['_DesiredTermLength'].blank? %>
				N/A
			<% else %>
				<%=Loan.term_lengths.invert[loan['_DesiredTermLength']]%>
			<% end %>
		</div>
		<div class='large-4 columns left'>
			<div class='label secondary'>Expected Close Date</div><BR>
			<% if loan['_DesiredTermLength'].blank? %>
				N/A
			<% else %>
				<%=fd_xml_to_date(loan['_ExpectedCloseDate'])%>
			<% end %>
		</div>
	</div>
	
</div>

<% color_class.blank? ? (color_class='even-row'):(color_class='') %>
<% end %>
</div>
