 <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
	$( "#accordion" ).accordion({
		collapsible: true,
		active: false,
		heightStyle: "content"
	});

	$(".edit").click(function(){
		var btnId = $(this).attr('id');
		var id = btnId.replace("edit_", "");
		var cont = "content_"+id;
		var edit_cont = "edit_content_"+id
		$("#"+cont).hide();
		$("#"+edit_cont).show();
		
	});

	$(".save").click(function(){
		var id = $(this).attr('id');
		var data=$('.form_'+id).serialize();
		$.ajax({
            data: data,
            type: 'POST',
            url: '/emails/update_email',
            success:function(response){
            	$("#email_listing").html(response);
            	$( "#accordion" ).accordion({
					collapsible: true,
					active: false,
					heightStyle: "content"
				});
				$(".edit").click(function(){
					var btnId = $(this).attr('id');
					var id = btnId.replace("edit_", "");
					var cont = "content_"+id;
					var edit_cont = "edit_content_"+id
					$("#"+cont).hide();
					$("#"+edit_cont).show();
					
				});
        	}
        });
	});
});

function save_email(id)
{
		var id = id;
		var data=$('.form_'+id).serialize();
		$.ajax({
            data: data,
            type: 'POST',
            url: '/emails/update_email',
            success:function(response){
            	$("#email_listing").html(response);
            	$( "#accordion" ).accordion({
					collapsible: true,
					active: false,
					heightStyle: "content"
				});
				$(".edit").click(function(){
					var btnId = $(this).attr('id');
					var id = btnId.replace("edit_", "");
					var cont = "content_"+id;
					var edit_cont = "edit_content_"+id
					$("#"+cont).hide();
					$("#"+edit_cont).show();
					
				});
        	}
        });
}

function cancel_save(id)
{
	var id = id;
	$("#content_"+id).show();
	$("#edit_content_"+id).hide();
}
</script>
<div class="br-header" style="margin-top: 58px; text-align: center;">
	<h3> Email Notifications </h3>
</div>
<div class="row" id="email_listing">
	<div id="accordion">
	<% @emails.each do |email|%>
		<h3><%= email.name %></h3>
		<div class="all_content" >
			<div class="show_data" id="content_<%= email.id %>">
				<p style="float:left; width:92%"><b>Subject: </b> <%= email.subject %> </p>
				<input type="button" value="EDIT" class="tiny button edit" id="edit_<%= email.id %>">
				<div style="border:1px solid; padding:5px;">
					<%= raw email.content %>
				</div>

			</div>

			<div id="edit_content_<%= email.id %>" style="display:none;">
			 <form class="form_<%= email.id %>">
				<label style="float: left; font-weight: bold; padding: 6px; width: 10%; font-size:17px;" > Subject: </label><input type = "text" name="subject" value="<%= email.subject %>" style="width:90%;  float:left;"> <br>
				<textarea name="content" style = "width: 921px; height: 297px;" ><%= email.content %></textarea>
				<input type="hidden" value="<%= email.id %>" name="id">
				<b>Note:</b> Please don't change these words <b>"<%= email.fixed_variable %>"</b>.
				<br>
				<div style="margin-top:15px;">
					<input type="button" class="tiny button success save" value="SAVE" id="<%= email.id %>" ><input type="button" class="tiny button alert" value="CANCEL" onclick="cancel_save('<%= email.id %>')"  style="margin-left:10px;">
				</div>
			</form>

			</div>
		</div>
	<% end %>
	</div>
</div>