<style>
.br-header {
    float: left;
    margin-left: 203px;
    margin-top: 10px;
    position: relative;
    width: 89%;
}
 form#search_form {position: absolute;right: 0;top: 0;}
 .form_wrap{float: left; width: 100%; position: relative;}
 .form_wrap > input#search_btn {
    height: 34px;
    position: absolute;
    right:1px;
    border: none;
    background-image:url("assets/search.png"); 
    background-repeat: no-repeat;
    top: 1px;
    width: 36px;
    background-position: center;
    cursor: pointer;
}
.large-3
{
    width: 23%;
    word-wrap: break-word;
}
.large-2
{
    width:6%;
}
.loan_info
{
    width:50%;
}
.info
{
    float: left;
     
}
label
{
    font-weight: bold;
}
.half
{
    width:40%;
}
</style>
<script type="text/javascript">

    jQuery(function($) { $.extend({
    form: function(url, data, method) {
        if (method == null) method = 'POST';
        if (data == null) data = {};

        var form = $('<form>').attr({
            method: method,
            action: url
         }).css({
            display: 'none'
         });

        var addData = function(name, data) {
            if ($.isArray(data)) {
                for (var i = 0; i < data.length; i++) {
                    var value = data[i];
                    addData(name + '[]', value);
                }
            } else if (typeof data === 'object') {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        addData(name + '[' + key + ']', data[key]);
                    }
                }
            } else if (data != null) {
                form.append($('<input>').attr({
                  type: 'hidden',
                  name: String(name),
                  value: String(data)
                }));
            }
        };

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                addData(key, data[key]);
            }
        }

        return form.appendTo('body');
    }
    });

   
 });

$('document').ready(function(){
     $('#search_form').submit(function() {
      return false;
     });

     $('.click_hide').click(function(){
            var c_id=$(this).attr('id');
            var lendr_id=c_id.replace("click_hide_","");
            var div_id="click_"+lendr_id;
            $("#"+div_id).show();
            $("#"+c_id).hide();
            $("#loan_lenders"+lendr_id).hide();

        });

     $('#lendingCategory').change(function(){
        var slct = $(this).val();
        if(slct=="Business Financing")
        {
            $('#lendingTypes').hide();
            $('#businessFinancingTypes').show();
            $('#equityandCrowdFunding').hide();
            $('#mortageTypes').hide();
        }
        if(slct=="Equity and Crowd Funding")
        {
            $('#lendingTypes').hide();
            $('#businessFinancingTypes').hide();
            $('#equityandCrowdFunding').show();
            $('#mortageTypes').hide();
        }
        if(slct=="Residential or Commercial Mortage")
        {
            $('#lendingTypes').hide();
            $('#businessFinancingTypes').hide();
            $('#equityandCrowdFunding').hide();
            $('#mortageTypes').show();
        }
        if(slct=="Private Real Estate Loan")
        {
            $('#lendingTypes').show();
            $('#businessFinancingTypes').hide();
            $('#equityandCrowdFunding').hide();
            $('#mortageTypes').hide();
        }
     });

});

function delete_lenders()
{
    var allVals=[];
    $('input[name="select_broker"]:checked').each(function(){
        allVals.push($(this).val());
    });
    if (allVals.length === 0) {
        alert("Please select atleast one broker.");
        return false;
    }
    var data = "&moredata=" + allVals;
    $.ajax({
            data: data,
            type: 'POST',
            url: '/lenders/delete_lenders',
             success:function(data){
                $('#lender_records').html(data);
            }
            
        });

}

function search_fun()
{
    var data=$('#search_form').serialize();
    $.ajax({
            data: data,
            type: 'POST',
            url: '/lenders/search',
            success:function(response){
                $('#lender_records').html(response);
            }
        });
}

function custom_searchForm()
{
    var data=$('#custom_search').serialize();
    $.ajax({
            data: data,
            type: 'POST',
            url: '/lenders/custom_search',
            success:function(response){
                $('#lender_records').html(response);
            }
        });
}

function callAjax(customUrl, divId, formId){
    if(typeof(formId)==='undefined') data = '';
    else data = $('#'+formId).serialize();
    if(typeof(divId)===undefined) divId ='';
     $('#loan_lenders').html('loading...');
    $.ajax({
        type: 'POST',
        url: customUrl,
        data:data,
        success:function(data){

            $('#'+divId).html(data);
            if(formId=="lender_loans")
            {
                var a_id=divId.replace('loan_lenders','');
                $('#click_'+a_id).hide();
                $('#click_hide_'+a_id).show();
                $("#loan_lenders"+a_id).show();
            }

                },
        error:function(data){
            alert('Something went wrong.');
            
            },
        dataType: 'html',


    });
        
}

function order_lenderhide(id)
{
        var lendr_id=id;
       // var lendr_id=c_id.replace("click_hide_","");
        var div_id="click_"+lendr_id;
        $("#"+div_id).show();
        $("#click_hide_"+lendr_id).hide();
        $("#loan_lenders"+lendr_id).hide();

}

</script>
<div class="container"  style="padding-left:48px; padding-right:60px;">
<div class="row" >
    
        <h3 class='text-center'>Lenders</h3>
        
</div>
<div class="row" >
    <div class="br-header">
        <img src="http://idealview.us/assets/bin2.png" style="float: left; width: 39px; height: 38px; border: 1px solid; cursor:pointer;" class="bin2" onclick="if(confirm('Are you sure you want to delete these items?')){delete_lenders()}">
        
        <div class="broker_search">
            <form name="search_form" id="search_form" style="width:250px;">
                <div class="form_wrap">
                    <input type="text" name="search" placeholder="Search">
                    <input type="button" id="search_btn" onclick="search_fun();">
                </div>
            </form>
        </div>
    
    </div>
</div>
<div class="search_div" style="float:left; width:25%; text-align:center; ">
<form class="custom_search" name="custom_search" id="custom_search">
        <div class="input_container">
        <label>Loan Range</label>
        <select name="loanMinDropDown" class="half">
            <option value="">From</option>
            <option value="0">0</option>
            <option value="1000">1000</option>
            <option value="10000">10000</option>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
            <option value="500000">500000</option>
            <option value="1000000">1000000</option>
            <option value="2000000">2000000</option>
            <option value="5000000">5000000</option>
        </select>
        <select name="loanMaxDropDown" class="half">
            <option value="">To</option>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
            <option value="250000">250000</option>
            <option value="500000">500000</option>
            <option value="1000000">1000000</option>
            <option value="2000000">2000000</option>
            <option value="5000000">5000000</option>
            <option value="No Max">No Max</option>
        </select>
        </div>

        <div class="input_container">
        <label>Loan Value</label>
        <select name="loanToValueMin" class="half">
            <option value="">From</option>
            <% 1.upto(100) do |i| %>
                <option value="<%= i %>"><%= i %></option>  
            <% end %>
            <option value="None">None</option>
         </select>
        <select name="loanToValueMax" class="half">
            <option value="">To</option>
            <% 1.upto(100) do |i| %>
                <option value="<%= i %>"><%= i %></option>  
            <% end %>
            <option value="None">None</option>
         </select> 
        </div>

        <div class="input_container">
        <label>Points</label>
        <select name="pointsMin" class="half">
            <option value="">From</option>
            <% 1.upto(20) do |i| %>
                <option value="<%= i %>"><%= i %></option>  
            <% end %>
          </select>
         <select name="pointsMax" class="half">
            <option value="">To</option>
            <% 1.upto(20) do |i| %>
                <option value="<%= i %>"><%= i %></option>  
            <% end %>
          </select> 
        </div>

        <div class="input_container">
        <label>Lending Category</label>
        <select name="lendingCategory" style="width:80%" id="lendingCategory">
            <option value="">All</option>
            <option value="Private Real Estate Loan">Private Real Estate Loan</option>
            <option value="Business Financing">Business Financing</option>
            <option value="Equity and Crowd Funding">Equity and Crowd Funding</option>
            <option value="Residential or Commercial Mortage">Residential or Commercial Mortage</option>
        </select> 
        </div>

        <div class="input_container">
        <label>Lending Types</label>
        <select name="lendingTypes" style="width:80%" id="lendingTypes">
            <option value="">All</option>
            <option value="Single Family Residence">Single Family Residence</option>
            <option value="Multifamily">Multifamily</option>
            <option value="Hospitality">Hospitality</option>
            <option value="Commercial">Commercial</option>
            <option value="Short Term Real Estate Loan">Short Term Real Estate Loan</option>
            <option value="Development">Development</option>
            <option value="Mixed Use">Mixed Use</option>
            <option value="Retail">Retail</option>
            <option value="Health Care">Health Care</option>
            <option value="Industrial">Industrial</option>
            <option value="Other">Other</option>
        </select> 
        <select name="businessFinancingTypes" style="display:none;" style="width:80%" id="businessFinancingTypes">
            <option value="">All</option>
            <option value="Equipment/Inventory">Equipment/Inventory</option>
            <option value="Working Capital">Working Capital</option>
            <option value="Factoring">Factoring</option>
            <option value="Cash Advances">Cash Advances</option>
            <option value="Accounts Receivable Financing">Accounts Receivable Financing</option>
            <option value="Supply Chain Financing">Supply Chain Financing</option>
            <option value="Expansion Capital">Expansion Capital</option>
            <option value="Equity">Equity</option>
            <option value="SBA Financing">SBA Financing</option>
            <option value="Other">Other</option>
        </select>
        <select name="equityandCrowdFunding" style="display:none;" style="width:80%" id="equityandCrowdFunding">
            <option value="">All</option>
            <option value="Project Financing">Project Financing</option>
            <option value="Acquisition and Development">Acquisition and Development</option>
            <option value="Start Up">Start Up</option>
            <option value="Business Partnership">Business Partnership</option>
            <option value="Other">Other</option>
        </select>  
        <select name="mortageTypes" style="display:none;" style="width:80%" id="mortageTypes">
            <option value="">All</option>
            <option value="Owner Occupied">Owner Occupied</option>
            <option value="Second Home">Second Home</option>
            <option value="Investment Property">Investment Property</option>
            <option value="FHA">FHA</option>
            <option value="Reverse Mortgage">Reverse Mortgage</option>
            <option value="Sub Prime">Sub Prime</option>
            <option value="HUD Financing">HUD Financing</option>
            <option value="Multifamily">Multifamily</option>
            <option value="Hospitality">Hospitality</option>
            <option value="Land Development">Land Development</option>
            <option value="Mixed Use">Mixed Use</option>
            <option value="Retail">Retail</option>
            <option value="Industrial">Industrial</option>
            <option value="Healthcare">Healthcare</option>
            <option value="Other">Other</option>
        </select> 
        </div>

        <div class="input_container">
        <label>Interest Rate</label>
        <select name="interestRateMin" class="half">
            <option value="0">From</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>

        <select name="interestRateMax" class="half">
            <option value="0">To</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        </div>
        <div class="input_container">
        <label>States</label>
        <select size="10" multiple="" id="lendingStates0" name="lendingStates0[]" style="width:80%; height:178px;">
            <option value="">Select States</option>
            <option value="Nationwide">Nationwide</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois Indiana">Illinois Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana Nebraska">Montana Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania Rhode Island">Pennsylvania Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
            <option value="International">International</option>
        </select>
        </div>

        <div class="input_container">
          <label>Term Length Type</label>
           <select name="termLengthType" style="width:80%">
                <option value="month(s)">month(s)</option>
                <option selected="selected" value="year(s)">year(s)</option>
            </select>
        </div>

        <div class="input_container">
          <label>Term Length</label>
           <select name="termLengthMin" id="termLengthMin" class="half">
            <option value="0">From</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            </select>

            <select name="termLengthMax" class="half">
            <option value="0">To</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            </select>
           </div>

        <div class="input_container">
        <input type="button" value="Search" onclick="custom_searchForm();">
        </div>

  </form>


</div>
<div class='row' id="lender_records" style="border-top: 7px solid rgb(242, 242, 242); float:left; width:75%">
    <%= render partial: 'layouts/messages' %>
    <% color_class = ''%>
    <% @lenders.each do |lender| 
        unless lender['delete']==1 
                #abort("#{lender.inspect}")
            %>
        <div class='row <%=color_class%> bottom-space text-left'>
            
            <div class='large-2 columns'>
            <input type="checkbox" id="check_<%= lender.id %>" name="select_broker" value="<%= lender.id %>" style="float:left;margin-top:7px;">
            <div id="click_<%= lender.id %>" style="float:left;">
           <% @url=url_for :controller=>'lenders', :action=>'fetch_detail', :id=>lender.id %>
                <a href="javascript:void(0);"  onclick="callAjax('<%= @url %>','loan_lenders<%= lender.id %>', 'lender_loans')">[+]</a>
            </div>
            <div id="click_hide_<%= lender.id %>" style="display:none; float:left;" class="click_hide" onclick="order_lenderhide('<%= lender.id %>')">
                <a href="javascript:void(0);" class="hide_lender_<%= lender.id %>">[-]</a>
            </div>
            </div>
            
            <div class='large-3 columns'>
                
                    <% unless lender.company.blank? %>
                        <%= lender.company %>
                    <% else %>
                         N/A
                    <% end %>
                 
            </div>

            <div class='large-3 columns'>
                <% unless lender.phone1.blank? %>
                        <%= lender.phone1 %>
                    <% else %>
                         N/A
                    <% end %>
            </div>
            
            <div class='large-3 columns'>
               
                 
                        <% unless lender.city.blank? %>
                            <%= lender.city %>, <%= lender.state %>
                        <% else %>
                            N/A
                        <% end %>
                  

              
            </div>
             

            <div class='large-3 columns'>
                <%= lender.email %>
            </div>
            <div id="loan_lenders<%= lender.id %>" class="<%=color_class%>" style="float:left; min-height:10px; margin-left:73px; display:none; width:100%">
        </div>
        </div>
         

        <% color_class.blank? ? (color_class='even-row'):(color_class='') %>

    <%
    end
end %>

</div>
</div>
