<% Loan.file_categories.each do |cat| %>


	<%
	 if cat=='Other' %>
		<h3><%=cat%></h3>
		<%@loan.documents.each do |doc| %>
			<% if doc.category.blank? %>
		    <% url=url_for :controller=>'loans', :action=>'view_doc',:id=>doc[:file_id] %>
		    <a href='<%=url%>' target='_blank'><%=doc.name%></a><BR>
		    <% end %>
		<% end %>			    
	<%end%>
	
		
	
	<%@loan.docs_by_category(cat).each do |doc| %>
	    <% url=url_for :controller=>'loans', :action=>'view_doc',:id=>doc[:file_id] %>
	    <a href='<%=url%>' target='_blank'><%=doc.name%></a><BR>
	<% end %>

			<div style='margin-top:30px;width:100%'>
				<%
				formId=cat.gsub(',','_') 
				formId=formId.gsub('&','_') 
				formId=formId.gsub(' ','_') 
				%>
				<%= render partial: 'file_upload', locals:{contact_id:@loan._id, form_id:formId+'_upload', controller:'loans', action:'upload_doc', category:cat, multiple:'true', type:'full', button_label:'Add Files to: '+cat}
				%>
			</div>	

<%end %>
